---
title: "News"
layout: default
excerpt: "Beiko Lab"
sitemap: false
permalink: /news.html
---
<style>

h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}

.news-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
</style>

<!-- UPCOMING -->
<h2>UPCOMING</h2>

<div class="news-grid">
  {% for item in site.data.news %}
    {% if item.category == "upcoming" %}
    
    <a href="{{ item.link }}" target="_blank" class="news-card">
      <img src="{{ '/images/news/' | append: item.image | relative_url }}" alt="{{ item.title }}">

      <div class="news-overlay">
        <h3>{{ item.title }}</h3>
        <p>{{ item.date }}</p>
        <p>{{ item.location }}</p>
      </div>
    </a>

    {% endif %}
  {% endfor %}
</div>


<!-- PAST -->
<h2>PAST</h2>

<div class="news-grid">
  {% for item in site.data.news %}
    {% if item.category == "past" %}
    
    <a href="{{ item.link }}" target="_blank" class="news-card">
      <img src="{{ '/images/news/' | append: item.image | relative_url }}" alt="{{ item.title }}">

      <div class="news-overlay">
        <h3>{{ item.title }}</h3>
        <p>{{ item.date }}</p>
        <p>{{ item.location }}</p>
      </div>
    </a>

    {% endif %}
  {% endfor %}
</div>
