<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-4">
				<p>{{ site.title }}</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<p>External Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/beiko-lab" style="color: rgb(16, 158, 240);">Beiko Lab Github Repository</a></li>
					<li><a href="https://icgenomics.ca/" style="color: rgb(16, 158, 240);">Institute for Comparative Genomics</a></li>
					<li><a href="https://bioinformatics.ca/hub/about/" style="color: rgb(16, 158, 240)">Canadian Bioinformatics Hub</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>
					Mona Campbell Building<br>
					1459 Lemarchant Street, Halifax<br>
					NS B3H 3P8, Canada
				</p>
			</div>

		</div>
	</div>
  </div>
</div>


<!-- MAP (aligned with page content width) -->
<div class="container-fluid">
  <div class="content-wrapper">

    <a href="https://www.google.com/maps/place/Mona+Campbell+Building,+Dalhousie+University" target="_blank">

      <iframe
        src="https://www.google.com/maps?q=Mona%20Campbell%20Building%2C%20Dalhousie%20University%2C%20Halifax&z=17&output=embed"
        width="100%"
        height="350"
        style="border:0; display:block; border-radius:8px;"
        loading="lazy">
      </iframe>

    </a>

  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>